---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import SkraaBokse from "../components/SkraaBokse.astro";
import SkraaBokse2 from "../components/SkraaBokse2.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
import H3 from "../components/H3.astro";
import Brodtekst from "../components/Brodtekst.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Forms from "../components/Forms.astro";
---

<MainLayout title="Titel">
  <article>
    <h1>Index overskrift</h1>
    <Button>Støt nu</Button>
    <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
    <Image src={thumbsup} alt="" />
  </article>
  <article class="bg-black">
    <H1 tekst="VERDEN DRUKNER I UNØDVENDIG PLASTIK" />
    <H2 tekst="PLASTIKFORURENING" />
    <H3 tekst="PLASTIK TRUER LIVET I HAVET" />
    <Brodtekst tekst="Her er en brødtekst" />
  </article>
  <SkraaBokse />
  <SkraaBokse2 />
  <Forms />
</MainLayout>
