---

---

<article class="w-full flex justify-center hover:scale-110 hover:transition-transform hover:ease-in-out">
  <button class="w-[284px] h-[44px] bg-[#FF8400] text-[#041737] px-4 py-1 rounded-full"><slot /></button>
</article>
