---
const { beskrivelse, overskrift, placeholder1, placeholder2 } = Astro.props;
import H3 from "../components/H3.astro";
import Button from "../components/Button.astro";
import Brodtekst from "./Brodtekst.astro";


---

<article class="w-[382px] h-[485px] mt-[37px] p-4 flex flex-col justify-center space-y-10 bg-white rounded-[37px]">
    <div class="flex justify-center">
  <p class="antonio text-black text-[25px] tracking-[2.75px] leading-[40px] w-[284px]">{overskrift}</p>
    </div>
  <div class="flex justify-center">
  <p class="text-black text-[16px] tracking-[1.98px] leading-[25px] w-[284px]">{beskrivelse}</p>
  </div>
  <div class="space-y-2">
    <!-- Ny container -->
    <form class="space-y-2 grid grid-cols-1" netlify>
      <div class="flex justify-center">
        <input type="text" name="form_felt" placeholder={placeholder1} class="rounded-full border-2 border-[#A6A6A6] w-[284px]" netlify />
      </div>
      <div class="flex justify-center">
        <input type="text" id="mail2" name="form_felt" placeholder={placeholder2} class="rounded-full border-2 border-[#A6A6A6] w-[284px]" netlify/>
      </div>
    </form>
    <div class="flex justify-center w-full">
      <Button class="w-full">Støt nu</Button>
    </div>
  </div>
</article>



