---
const { overskrift, brodtekst } = Astro.props;
import H3 from "../components/H3.astro";
import Brodtekst from "../components/Brodtekst.astro";
import { Image } from "astro:assets";
import icon_1 from "../assets/images/icon_1.png";
---

<section class="bg-blue-400 grid grid-cols-2">
  <Image class="max-w-[150px]" src={icon_1} alt="Ikon" />
  <div class="">
    <H3 tekst={overskrift} />
    <Brodtekst tekst={brodtekst} />
  </div>
</section>
