---
const { overskrift, brodtekst, ikon, imageUrl } = Astro.props;
import H3 from "../components/H3.astro";
import Brodtekst from "../components/Brodtekst.astro";
---

<section class="bg-blue-400 grid grid-cols-2">
  <img src={imageUrl} alt="Ikon" class="max-w-[107px]" />
  <div class="">
    <H3 tekst={overskrift} />
    <Brodtekst tekst={brodtekst} />
  </div>
</section>
