---
import H2 from "../components/H2.astro";
import H3 from "../components/H3.astro";
import Brodtekst from "../components/Brodtekst.astro";
import { Image } from "astro:assets";
import strand from "../assets/images/strand.png";
import pose_vand from "../assets/images/pose_vand.png";
---

<div class="fotoinview2">
  <article class="skraa_3"></article>
  <article class="bg-[#041737] grid grid-cols-2 px-[10%] py-36 gap-40">
    <div class="grid gap-6">
      <H2 tekst="VORES VISION & MISSION" />
      <div class="grid gap-4">
        <div>
          <H3 tekst="VISION" />
          <Brodtekst
            tekst="Vi arbejder for en verden, hvor plastik er uden negative konsekvenser for miljøet, klimaet, biodiversiteten, menneskers sundhed og fundamentale menneskerettigheder. Vi arbejder for et samfund uden engangskultur, og hvor plastik såvel som alle andre materialer bruges med respekt for klodens begrænsede ressourcer. Et samfund, hvor vi har minimeret produktionen og forbruget af plastik, udfaset brugen af skadelig kemi i plastik og stoppet plastikforurening i alle miljøer og i hele plastikkens livscyklus."
          />
        </div>
        <div>
          <H3 tekst="MISSION" />
          <Brodtekst
            tekst="Plastik er på mange måder blevet et symbol på det “moderne liv” og repræsenterer i sin essens det moderne samfunds forbrugerisme, bekvemmelighed og vækstparadigme. Kan vi håndtere og ændre de bagvedliggende årsager til vores stigende plastikforbrug kan vi måske samtidig finde opskriften på, hvordan vi løser andre af klodens økologiske kriser. Plastik kan med andre ord være nøglen til et paradigmeskifte, hvor ændrede økonomiske strukturer og kulturelle narrativer om kan være med til at guide os i en ny retning på andre områder."
          />
        </div>
      </div>
    </div>
    <div class="grid gap-[28px]">
      <Image class="max-w-[456px]" src={strand} alt="Billede af båd" />
      <Image class="max-w-[456px]" src={pose_vand} alt="Billede af mennesker, der samler plastik" />
    </div>
  </article>
  <article class="skraa_4"></article>
</div>
